<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/l_r.css}">
  <title>Регистрация</title>
</head>
<body>
<h1 class="go1">Регистрация</h1>
<div th:if="${param.error}">
  <h2>Неверный логи или пароль</h2>
</div>
<div th:if="${param.logout}">
  <h2>Вы вышли</h2>
</div>
<div th:if="${message}">
  <div th:text="${message}"></div>
</div>
<div class="registration">
  <form th:action="@{/registration}" method="post">
    <div><label> Логин: <input type="text" name="username" required> </label></div>
    <div><label> Пароль: <input type="password" name="password" required> </label></div>
    <div><label> Имя: <input type="text" name="name" required> </label></div>
    <div><label> Фамилия: <input type="text" name="surname" required> </label></div>
    <div><label> Отчество: <input type="text" name="patronymic"/> </label></div>
    <div><label> Номер телефона: <input type="text" name="number" required> </label></div>

    <div><button type="submit" class="button-16" role="button">Зарегистрироваться</button></div>
  </form>
</div>
<a th:href="@{/index}" class="button-26" role="button">Вернуться к просмотру</a>
</body>
</html>